<li>
    <a href="/articles/<%= article.id %>">
      <% if article.image != "" %>
        <div class="image"><%= image_tag article.image %></div>
      <% end %>
      <div class="inner">
      <p class="title"><%= article.title %></p>
      <p class="content">説明：<%= article.content %></p>
      <p class="timestamp js-update"><%= article.updated_at %></p>
      <p class="like">
        <% if Like.find_by(article_id: article.id) %>
          <span class="fa fa-heart like-btn"></span>
        <% else %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
          <%= Like.where(article_id: article.id).count %>  
      </p>
      </div>
    </a>
  </li>