<div class="contents row">
  <%= form_for @article do |f| %>
    <h3 class="hdg">編集する</h3>
    <p>タイトルを入力してください</p>
    <p><%= f.text_field :title %></p>
    <p>URLを入力してください</p>
    <p><%= f.text_field :url %></p>
    <p>作品について入力してください</p>
    <p><%= f.text_area :content %></p>
    <p>言語を入力してください</p>
    <p><%= f.text_field :lang %></p>
    <p>画像を選択してください</p>
    <p><%= f.file_field :image %></p>
    <p><%= f.submit "送信" %></p>
  <% end %>
</div>
